<p-table
#TechsTable
[value]="data.technitians"
[paginator]="true"
[rows]="10"
[totalRecords]="data.total_Technicians"
[lazy]="true"
[loading]="false"
[globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
sortField="name"
sortMode="single"
dataKey="numTech"
rowGroupMode="subheader"
groupRowsBy="numTech"
[tableStyle]="{'min-width': '70rem','border-collapse': 'collapse'}"
(onPage)="onPageChange($event)">
    <ng-template pTemplate="caption">
      <div class="flex justify-between">
        <div>
          <button
        type="button"
        pButton
        icon="pi pi-file"
        label="Generar PDF"
        severity="danger"
        style=" background-color: red;
        padding: 7px 10px;
        color: white;"
        ></button>
        </div>
        <h1>{{ currentWeekMonday | date:'dd/MM/yyyy' }} - {{ currentWeekSaturday | date:'dd/MM/yyyy' }}</h1>
        <div class="flex gap-3">
          <div class="relative">
            <input
              pInputText
              type="text"
              class="p-2 pl-10 w-full"
              [(ngModel)]="searchTerm"
              placeholder="Buscar técnico..."
              (keypress)="searchTech($event)"
              />

            <!-- Ícono posicionado absolutamente dentro del input -->
            <i class="pi pi-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
          </div>
          <p-button icon="pi pi-refresh" (onClick)="resetTable()" [rounded]="true" />
        </div>



      </div>
  </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:16.66%;border: 1px solid #ccc;text-align: center;">Numero de empleado</th>
                <th style="width:16.66%;border: 1px solid #ccc;text-align: center;">Nombre</th>
                <th style="width:16.66%;border: 1px solid #ccc;text-align: center;">Cuadrilla</th>
                <th style="width:16.66%;border: 1px solid #ccc;text-align: center;">Tareas completadas</th>
                <th style="width:16.66%;border: 1px solid #ccc;text-align: center;">Puntos</th>
                <th style="width:16.66%;border: 1px solid #ccc;text-align: center;">Bono</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-technitian let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
                <td colspan="1" style="border: 1px solid #cccccc3b;">
                    <button
                        type="button"
                        pButton
                        pRipple
                        [pRowToggler]="technitian"
                        class="p-button-text p-button-rounded p-button-plain mr-1 p-0"
                        [classList]="'p-0'"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                    <span class="font-bold ml-2">{{technitian.numTech}}</span>
                  </td>
                  <td colspan="1" style="border: 1px solid #cccccc3b;text-align: center;">
                    <span class="font-bold ml-2">{{technitian.name}}</span>
                  </td>
                  <td colspan="1" style="border: 1px solid #cccccc3b;text-align: center;">
                    <span class="font-bold ml-2">{{technitian.crew}}</span>
                  </td>
                  <td colspan="1"  style="border: 1px solid #cccccc3b;text-align: center;">
                    <span class="font-bold ml-2">{{getTotalCompleteTask(technitian)}}</span>
                  </td>
                  <td colspan="1" style="border: 1px solid #cccccc3b;text-align: center;">
                    <span class="font-bold ml-2">{{technitian.totalPoints}}</span>
                  </td>
                  <td colspan="1" style="border: 1px solid #cccccc3b;text-align: center;">
                    <span class="font-bold ml-2">{{technitian.totalBonus|currency}}</span>
                  </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-service>
          <tr>
            <td colspan="6">
              <div style="width: 100%; overflow-x: auto;">
                <p-table [value]="service.tasks" [tableStyle]="{'min-width': '100%'}">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 5%;;border: 1px solid #cccccca9;text-align: center;">Numero de solitud</th>
                      <th style="width: 20%;;border: 1px solid #cccccca9;text-align: center;">Servicio</th>
                      <th style="width: 20%;;border: 1px solid #cccccca9;text-align: center;">Cliente atendido</th>
                      <th style="width: 20%;;border: 1px solid #cccccca9;text-align: center;">Domicilio cliente</th>
                      <th style="width: 15%;;border: 1px solid #cccccca9;text-align: center;">Fecha de solicitud</th>
                      <th style="width: 10%;;border: 1px solid #cccccca9;text-align: center;">Estatus de solicitud</th>
                      <th style="width: 10%;;border: 1px solid #cccccca9;text-align: center;">Puntos</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-task>
                    <tr>
                      <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.assigmentId }}</td>
                      <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.description }}</td>
                      <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.client_name }}</td>
                      <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.client_address }}</td>
                      <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.assigned_date }}</td>
                      <td style="border: 1px solid #cccccc3b;text-align: center;">
                        <p-tag [value]="task.status" [severity]="getStatusTag(task.status)"></p-tag>
                      </td>
                      <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.points }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
</p-table>
