<p-table
#TechsTable
[value]="data.tasks"
[paginator]="true"
[rows]="10"
[totalRecords]="data.tasks.length"
[lazy]="true"
[loading]="false"
[globalFilterFields]="['name', 'status','assigned_date']"
sortField="assigned_date"
sortMode="single"
dataKey="numTech"
rowGroupMode="subheader"
groupRowsBy="name"
[tableStyle]="{'min-width': '70rem','border-collapse': 'collapse'}">
    <ng-template pTemplate="caption">
      <div class="flex justify-between">
        <div>
          Bienvenido, {{ data.name }}
        </div>
        <h1>Ciclo - {{ currentWeekMonday | date:'dd/MM/yyyy' }} - {{ currentWeekSaturday | date:'dd/MM/yyyy' }}</h1>
      </div>
  </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%;border: 1px solid #ccc;text-align: center;">Numero de cliente</th>
                <th style="width:30%;border: 1px solid #ccc;text-align: center;">Direccion</th>
                <th style="width:15%;border: 1px solid #ccc;text-align: center;">Descripcion</th>
                <th style="width:20%;border: 1px solid #ccc;text-align: center;">Fecha de asignacion</th>
                <th style="width:8%;border: 1px solid #ccc;text-align: center;">Estado</th>
                <th style="width:8%;border: 1px solid #ccc;text-align: center;">Actualizar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task let-index="rowIndex">
          <tr>
            <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.client_name }}</td>
            <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.client_address }}</td>
            <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.description }}</td>
            <td style="border: 1px solid #cccccc3b;text-align: center;">{{ task.assigned_date |date :'medium':'ES'}}</td>
            <td style="border: 1px solid #cccccc3b;text-align: center;">
              <p-tag [value]="task.status" [severity]="getStatusTag(task.status)"></p-tag>
            </td>
           <td  style="border: 1px solid #cccccc3b;text-align: center;">
              <ng-container [ngSwitch]="task.status">
                <p-button *ngSwitchCase="'Pendiente'"
                          severity="success"
                          [style]="{'background-color': 'orange', 'color': 'white'}"
                          icon="pi pi-play"
                          (onClick)="updateTaskStatus(index,task.assigmentId, 'En Progreso')"
                          pTooltip="Iniciar tarea">
                </p-button>
                <p-button *ngSwitchCase="'En Progreso'"
                          icon="pi pi-check"
                          [style]="{'background-color': 'blue', 'color': 'white'}"
                          (onClick)="updateTaskStatus(index,task.assigmentId, 'Completado')"
                          pTooltip="Completar tarea">
                </p-button>
                <p-button *ngSwitchCase="'Completado'"
                          severity="success"
                          [style]="{'background-color': 'green', 'color': 'white'}"
                          icon="pi pi-check-circle"
                          [disabled]="true"
                          pTooltip="Tarea completada">
                </p-button>
              </ng-container>
            </td>
          </tr>
        </ng-template>
</p-table>
