.banner {
  background: url( 'https://www.datocms-assets.com/50397/1656060866-feb90b05-7306-4a8e-943f-351f8045664a_12-tipos-reunion.jpg?auto=format&dpr=1.20&q=90&w=688' );
  background-repeat: no-repeat;
  background-size: cover
}

